@import '../../styles/base.css';

.app {
    overflow: auto;
    width: 100%;
    height: 100%;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1;

    &_type {
        &_default {
            background: linear-gradient(180deg, #fff 0%, #fff 20.31%, rgba(255, 255, 255, 0) 100%), #d1f7ff;
        }

        &_black {
            background: linear-gradient(180deg, #fff 0%, #fff 20.31%, rgba(255, 255, 255, 0) 100%), #130303;
        }
    }
}

.app__grid-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 17.5vh auto 17.5vh;
    grid-template-columns: auto;
    grid-auto-rows: auto;

    &_authenticated {
        grid-template-rows: 17.5vh auto;
    }
}

.app__grid-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &_authenticated {
        display: none !important;
    }
}

.app__grid-item:last-child {
    &_authenticated {
        display: none !important;
    }
}
