@import "../../../styles/constants.css";

.page-body__container {
    margin: auto;
    align-self: center;
    width: 55vmin;
    height: 45vmin;
    background: #F89942;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.page-body__flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.page-body__flex-item {
    width: 100%;
}

.page-body__item {
    height: 3vmin;
    background: #FFF0CA;
}

.page-body__description {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 4vmin;
    display: flex;
    align-items: center;
    color: $font-color;
}
