.playground__flex-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.playground__flex-item {
    width: 100%;
    margin: auto;
}
