@import '../../../../styles/constants.css';

.authentication-tabs__tab {
    width: auto;
}

.authentication-tabs__tab-item {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vmin;
    color: $font-color;

    &:hover {
        color: $font-color-hover;
    }
}

.authentication-tabs__tab-divider {
    margin: 2px;
    border: 2px solid $font-color;

    &:hover {
        color: $font-color-hover;
    }
}

.authentication-tabs__flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.authentication-tabs__flex-item {
    padding: 10px;
}
