@import '../../../../styles/constants.css';

.authentication-tabs__tab {
    width: auto;
}

.authentication-tabs__tab-item {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vmin;
    color: $font-color;
}

.authentication-tabs__tab-divider {
    border: 1vmin solid $font-color;
}

.authentication-tabs__flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.authentication-tabs__flex-item {
    padding: 10px;
}
