@import '../../../../../styles/constants.css';


.playlists-bar-sort__button {
    width: 90%;
    height: 100%;
    background: #3395BF;
    border-radius: 12px;

    &_active {
        background: #33BF84;
    }

    &_disabled {
        pointer-events: none;
        background: #97bead;
    }

    &:active {
        background: #65c3f1;
    }
}

.playlists-bar-sort__span {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 2.75vmin;
    text-align: center;
    color: #FFFFFF;
}
