@import "../../../../styles/constants.css";

.body-items__container {
    overflow: scroll;
    margin: auto;
    align-self: center;
    width: 45vmin;
    height: 50vmin;
    padding: 5px;
    background: #F89942;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.body-items__grid-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
    grid-auto-columns: auto;
}

.body-items__grid-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.body-items__flex-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body-items__flex-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 3px;
}

.body-items__flex-item:last-child {
    padding-bottom: 20px;
}

.body-items__item-container {
    width: 80%;
    height: 5.85vmin;
    background: #FFF0CA;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &_active {
        background: #ffd569;
    }
}

.body-items__item-span {
    width: 100%;
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8vmin;
    color: $font-color;
}

.body-items__description {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 4vmin;
    display: flex;
    align-items: center;
    color: $font-color;
}
