@import '../../../styles/constants.css';

.page-footer__container {
    width: 100%;
    height: 15vmin;
    margin: auto;
}

.page-footer__button {
    border: none;
    background: #3395BF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3vmin;
    padding: 1vmin 4.5vmin;

    &:hover {
        background: #2a86ef;
    }

    &:active {
        background: #4c98ff;
    }
}

.page-footer__span {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 3vmin;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
