@import '../../../styles/constants.css';

.page-header__flex-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page-header__flex-item {
    width: 75%;
    padding: 7px;
    align-self: center;
}

.page-header__span {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 5vmin;
    text-align: center;
    color: #3395BF;
}

.page-header__divider {
    background: #F8C542;
    height: 8px;
    border-radius: 6px;
}
