.playlists-bar__grid-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33.3% auto;
    grid-template-rows: auto;
    grid-auto-rows: auto;
}

.playlists-bar__grid-item {
    flex: 1;
    height: 7vmin;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
