@import '../../../../styles/constants.css';

.authentication-title__container {
    width: 100%;
}

.authentication-title__span {
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 4vmin;
    font-family: $font-family;
    color: $font-color;
}
