.authentication-page__container-layout {
    background: #ffd770;
    border-radius: 40px;
    width: 55vmin;
    height: 45vmin;
    padding: 15px;
}

.authentication-page__grid-box-layout {
    height: 100%;
    display: grid;
    grid-auto-columns: 100%;
    grid-template-columns: auto;
    grid-template-rows: 25% auto;
}

.authentication-page__grid-item-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication-page__flex-box-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.authentication-page__flex-item-form {
    width: 100%;
}
